<h2>PerlのRは、レポーティングのRですが、視覚的レポートを行うためにR言語のggplot2の移植プロジェクトを開始します</h2>

PerlのRは、レポーティングのRですが、視覚的レポートを行うためにR言語のggplot2の移植プロジェクトを開始します。

R言語は<a href="https://cran.r-project.org/">CRAN</a>と呼ばれるCPANの仕組みをまねたディストリビューションの仕組みがあって、Perlと親和性も感じます。

<h3>ggplot2のPerlへの移植プロジェクト開始のお知らせ</h3>

Perlゼミのソフトウェア研究所では、ggplot2のPerlへの移植プロジェクト開始をお知らせします。

<a href="http://perl-entrance.org">Perl入学式</a>のSlackでも「Perlでデータサイエンスをやりたいよねぇ」という話が上がっておりまして、ちょっと、この機会に足りないものを作っておこうかなぁと感がています。

<a href="https://datascience.perlzemi.com/">データサイエンス</a>をやりたいときに、唯一Perlに足りないものは、柔軟で依存の小さいデータ視覚化ライブラリだけだと思っています。

ですので、この分野で、時間を投資することに決めました。

<a href="http://jp.spvm.info/">SPVM</a>のプロジェクトも、実装はほぼほぼ完了して、1.0リリースに向けて、ドキュメント整備だけになってきたので、このタイミングで開始します。
